<div class="px-4 py-5 my-5 text-center" style="width:100%">

    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4" style="color:gray;">Copyright 2023. Marmin-Dev. all rights reserved.</p>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src = "/js/app/index.js"></script>
</body>
</html>