<div class="d-flex flex-column align-items-stretch flex-shrink-0 overflow-auto" style="width: 20%; float:left;
 height:1726px;">
    <span class="fs-5 fw-semibold">{{category}} comment</span>
    <div>
        <input type="text" placeholder="Write comment..." id="content"/>
        <input type="hidden" value="{{category}}" id="category" readonly>
        <button class="btn btn-primary" id="btn-save">Submit</button>
    </div>
{{^comment}}
        <p>No Comment...</p>
    {{/comment}}
    {{#comment}}
    <div class="list-group list-group-flush border-bottom scrollarea">
        <input type="hidden" class="author" value="{{author}}" readonly>
        <strong class="mb-1">{{author}}</strong>
        <small>{{modifiedDate}}</small>
        <p style="white-space:normal; word-wrap:break-word">{{content}}</p>
        <div class=" d-flex flex-row-reverse">
            <a href="/{{category}}/{{id}}" class="update" style="display:none;"><button class="btn btn-primary" >Update</button></a>
        </div>
    </div>
    <script>
        var authors = document.getElementsByClassName("author"); //Strong tag
        var user = document.getElementById("user").value; //input tag
        var updates = document.getElementsByClassName("update");
        for(var i=0; i<authors.length;i++){
            if(user == authors[i].value){
            updates[i].style.display ="block";
        }
    }
    </script>
    {{/comment}}
</div>






