<div class="d-flex flex-column align-items-stretch flex-shrink-0 overflow-auto" style="width: 20%; float:left;
 height:1726px;">
    <span class="fs-5 fw-semibold">{{category}} comment</span>
    <div>
        <input type="text" placeholder="Write comment..." id="content"/>
        <input type="hidden" value="{{category}}" id="category" readonly>
        <button class="btn btn-primary" id="btn-save">Submit</button>
    </div>
{{^comment}}
        <p>No Comment...</p>
    {{/comment}}
    {{#comment}}
    <div class="list-group list-group-flush border-bottom scrollarea">
        <strong class="mb-1">{{author}}</strong>
        <small>{{modifiedDate}}</small>
        <div class="col-10 mb-1">{{content}}</div>
        <div class=" d-flex flex-row-reverse">
            <a href="/{{category}}/{{id}}"><button class="btn btn-primary">Update</button></a>
        </div>
    </div>
    {{/comment}}

</div>
