{{>layout/header}}
{{#news}}
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold"><a href="{{url}}">{{title}}</a></h1>
        <div class="col-lg-6 mx-auto">
            <h4 class="lead mb-4">{{author}}</h4>
            <p>{{publishedAt}}</p>
        </div>
    </div>

{{/news}}
{{>layout/footer}}